.menu{
    position:absolute;
    top:80px;
    left:0px;
    font-family: Arial;
    font-size:12px;
    /*font-weight:bold;*/
  }
  #nav{
    width:920px;
    height:30px;
    background-color:#B1B3A8;
  }
  #nav ul {
    margin:0px; 
    padding:5px;
  }
  #nav ul li{
    display:inline; 
    height:30px; 
    float:left; 
    list-style:none;
    margin-left:30px; 
    position:relative;
  }
  #nav li a {color:#fff; text-decoration:none;}
  #nav li a:hover { text-decoration:underline; color:#fff; }
  
  .pg { display:none; }
  .h1 { text-align:center; font-size:2em; }